$colorBlack: #353535;
$colorWhite: #FFFFFF;
$colorBorder: #C1C1C1;
$colorBlue: #4990E2;
$colorGray: #E9E9E9;

@mixin basicSettings() { 
    line-height: 24px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@mixin creatCircle($a, $borderWidth, $backColor) {
    min-width: $a;
    height: $a;
    border-radius: 50%;
    border: $borderWidth solid $colorBorder;
    background-color: $backColor;
    text-align: center;
    box-sizing: border-box;
}

* {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 20px 15px 50px;
    margin: 0;
}

.filter-devices {
    h6 {
        @include basicSettings;
        margin: 0 0 16px 0;//
        font-size: 16px;//
    
        color: #8C8C8C;//
    }

    .search-device {
        display: flex;
        align-items: center;

        button {
            @include basicSettings;

            margin-left: 20px;//
            padding: 8px 22px;//
            font-weight: 500;
            font-size: 14px;//
            text-align: center; 
        
            color: $colorWhite;//
            background: $colorBlack;//
            border-radius: 3px;
            border: 1px;//
        
        } 

        input{
            @include basicSettings;
            background: $colorWhite;//
            border: 1px solid #E9E9E9;//
            box-sizing: border-box;
            font-size: 16px;//
            color: $colorBlack;//
        
            padding: 0px 10px 0px 12px;//
            max-width: 210px;
            height: 31px;
        }
    }
}

section {
    margin: 30px 0 46px 0;
    display: block;
}

.unit-name {
    margin-bottom: 40px;
    display: flex;
    max-width: 320px;

    .scale {
        padding: 6px 0;
    }

    .name-device {
        @include basicSettings;
        margin: 0 12px 0 20px;
        font-weight: 500;
        font-size: 20px;
        max-width: 225px;
    }

    .info {
        $a: 22px;
        @include creatCircle($a, 1px, $colorWhite);
        color: $colorBorder;

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
}

.report-filters {
    #period {
        @include basicSettings;

        min-width: 220px;
        height: 30px;
        padding-left: 12px;

        font-size: 16px;
        color: $colorBlack;
        background: $colorWhite;//
    }

    .title-dropmenu {
        width: 220px;
        height: 30px;
        font-size: 16px;
        color: $colorBlack;
        background: $colorWhite;//
        border: 1px solid $colorGray;
        box-sizing: border-box;
        padding: 4px 0 4px 12px;
        margin: 0;

        .icon {
            position: relative;
            left: 187px;
            transform: translateY(-300%);
        }
        .active {
            transform: translateY(-300%) rotate(180deg);
        }
    }

    .dropmenu {
        position: absolute;
        z-index: 10;
        background: $colorWhite;
        width: 218px;
        margin: 0;
        border: 1px solid $colorGray;

        .elem {
            margin: 0;
            padding: 10px 12px;
        }
    }

    .radio-filter {
        margin: 20px 0 47px;
        display: block;

        .radio-item {
            margin: 10px 0;
            input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                margin: 5px;
            }

            label {
                position: relative;
                padding: 0 0 0 30px;
                cursor: pointer;
                color: $colorBlack;
                font-size: 14px;
                line-height: 20px;

                &:before {
                    @include creatCircle(20px, 2px, $colorWhite);
                    content: '';
                    position: absolute;
                    // top: -1px;
                    left: 0;
                }

                &:after {
                    @include creatCircle(10px, 0px, $colorBlue);
                    content: '';
                    position: absolute;
                    top: 16%;
                    left: 5px;
                    opacity: 0;
                    transition: .2s;
                }
            }
            input:checked + label:after {
                opacity: 1;
            }
        }
    }

    button {
        @include basicSettings;

        font-weight: 500;
        font-size: 14px;
        color: $colorWhite;
        background: $colorBlue;
        border-radius: 3px;
        padding: 7px 37px;
        border: 1px solid;
    }
}

.device-info {
    margin: 30px 0 0 0;
    padding: 20px 18px;
    background: #F7F7F7;
    border-radius: 5px;
    max-width: 512px;

    .options {
        @include basicSettings;

        margin: 0 0 6px;
        color: #8C8C8C;

        &, & > * {
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
        }

        .characteristic {
            color: $colorBlack;
        }

        .guid, .bism-id, .tam {
            color: $colorBlue;
        }
    }
}

.report {
    background: #FFFFFF;
    border: 1px dashed #939DA6;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    max-width: 900px;
    padding: 40px 40px 60px;
    overflow: auto;

    table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
        box-sizing: border-box;
        // overflow: auto;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    caption {
        margin: 0 0 27px 0;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
    }
    thead {
        font-size: 13px;
        line-height: 15px;
        color: #939DA6;
        vertical-align: top;

        th:nth-child(1), th:nth-child(3), th:nth-child(4) {
            width: 116px;
        }
        th:nth-child(2) {
            width: 234px;
        }
        th:nth-child(5) {
            width: 210px;
        }
    }
    tbody {
        font-size: 13px;
        line-height: 17px;
        color: $colorBlack;
        vertical-align: top;

        td {
            padding: 20px 0 15px 0;
        }

        tr:not(:last-child) {
            td {
                border-bottom: 1px dashed $colorGray;
            }
        }

        td:nth-child(1) {
            font-size: 16px;
            line-height: 19px;
        }
        td:nth-child(3), td:nth-child(4) {
            padding: 0;
            td:nth-child(1) {
                width: 50px;
            }
            td {
                border: 0;
            }
        }
        td:nth-child(5) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media screen and (min-width: 750px) {
    body {
        padding: 30px 50px 106px;
    }
    section {
        display: flex;
    }
    .device-info {
        margin: 0 0 0 30px;
    }
}
